<!DOCTYPE html>
<html>
    <head>        
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
        body {
            background-color: aquamarine;
        }
        .column {
            float: left;
            padding: 15px;    
        }
        .column.side {
            width: 25%;
        }
        .column.middle {
            width: 50%;
        }
    </style>
    <title> Week 1 Practical </title>
    <h1 style=color:rebeccapurple;> Week 1 Practical &#128512; </h1>
    <h2 style=color:royalblue;> This is a web page to demonstrate the practical tasks for Week 1 </h2>
    <h3 style=color:darkmagenta;> By Liam Fern </h3>
    </head>
    <div class="column side">
    <body>
        <h1 style="color: darkblue;">Side Column</h1> 
        <p>Example of a HTML Table</p>
        <table id="t1">
            <tr>
                <th> Unit Code </th>
                <th> Unit Name </th>    
            </tr>
            <tr>
                <td> SIT120 </td>
                <td> Introduction to Responsive Web Apps</td>
            </tr>
        </table>
        <p>Example of a HTML Form</p>
        <form>
            <label for="age">Your age:</label><br>
            <input type="text" id="age" name="age"><br>
            <label for="DOB">Your Date of Birth:</label><br>
            <input type="text" id="DOB" name="DOB"><br>
            <br>
            <input type="submit" name="submit">    
        </form>
        <main id="app">
            <p>To Do List Using Vue</p>
            <form @submit.prevent="newToDo">
                <label for="addToDo">Add ToDo</label>
                <input v-model="nToDo" type="text" name="addToDo" id="addToDo">
                <button type="submit" name="submit">Add</button>
            </form>
            <ol id="app1">
                <li v-for="todo in todos">
                    <span>{{todo.title}}</span>
                    <input type="checkbox" v-model="todo.done">
                </li>
            </ol>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="vue.js" charset="utf-8"></script>

    </body>    
    </div>
    <div class="column middle">
    <h1 style="color: darkblue;">Main Column</h1>    
    <body>  
        <p> Example Image </p>
        <img src="tech.jpeg" alt="Example Image">
        <p> Example of a HTML List:</p>
        <ol>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
        </ol>
        <p>Here is a HTML Link</p>
        <a href="https://www.deakin.edu.au/">Deakin University</a> 
        <p>Form to display student average using JavaScript</p>
        <form>
        <label for="fscore">Enter your First Score</label><br>
        <input type="text" id="fscoreid" name="fscore" value="74"><br>
        <label for="sscore">Enter your Second Score</label><br>
        <input type="text" id="sscoreid" name="sscore" value="84"><br>
        <label for="tscore">Enter your Third Score</label><br>
        <input type="text" id="tscoreid" name="tscore" value="82"><br>
        <label for="foscore">Enter your Fourth Score</label><br>
        <input type="text" id="foscoreid" name="foscore" value="86"><br>
        <br>
        <p>Your average is listed below</p>
        <p id="average"></p>

        <script>
        var a, b, c, d, x, y;
        a = document.getElementById("fscoreid").value
        b = document.getElementById("sscoreid").value
        c = document.getElementById("tscoreid").value
        d = document.getElementById("foscoreid").value
        x = +a + +b + +c + +d
        y = x / 4
        document.getElementById("average").innerHTML = y;
        </script>
        </form>
    
    </body>
    </div>
</html>